@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

header, .hero-section, footer {
    background-color: #1F2937;
}

header {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-flex-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

header p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 1rem;
}

.header-links a {
    text-decoration: none;
}

.hero-section {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-flex-container {
    width: 80%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.hero-section-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    height: 100%;
}

.hero-section img {
    display: flex;
    background-color: #E5E7EB;
    flex: 1;
    height: 100%;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text, .header-links a {
    font-size: 18px;
    color:  #E5E7EB;
}

button {
    font-weight: bold;
    border-radius: 8px;
}

button, .cta-banner {
    color: #F9FAF8;
    background-color: #3882F6;
}

.hero-section button {
    font-size: 18px;
    border-style: none;
    margin-top: 1rem;
    padding-block: 10px;
    padding-inline: 20px;
}

main {
    flex: 9;
}

.information {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
}

.information .info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-cards-section {
    display: flex;
    justify-content: center;
    max-width: 70%;
    gap: 2rem;
    flex: 1;
}

.info-card {
    width: 15%;
    min-width: 150px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.info-card img {
    border: solid #3882F6 2px;
    border-radius: 10%;
    flex: auto;
}

.info-card p {
    text-align: center;
}

.quotes-section {
    flex: 1 1 auto;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    font-style: italic;
}

.quote {
    width: 50%;
    padding-block: 3rem;
    padding-inline: 0;
    margin: auto;
}

.cite {
    text-align: end;
    font-style: normal;
    margin-right: 2rem;
}

.cta-banner-section {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-banner {
    width: 75%;
}

footer {
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 1rem;
}